<sheldon-global-search [interventi]="interventi()" (filter)="applyFilters($event)"/>

<div class="sheldon-grid">

  <!-- ISTOGRAMMI -->
  <div class="tile tile--4">
    <sheldon-chart-bars
      title="Interventi per anno di conclusione"
      groupBy="anno"
      reduceBy="count"
      filterBy="comune" masterField="comune"
      sortBy="category"
      defaultSortDirection="asc"
      [categoria]="categoriaCorrente() || getCategoriaRandom()"
      [showSorting]="false"
      [limit]="0"
      [data]="interventiPerFine()"
    />
  </div>

  <div class="tile tile--4">
    <sheldon-chart-bars
      title="Interventi per anno di avvio"
      groupBy="anno"
      reduceBy="count"
      filterBy="comune" masterField="comune"
      sortBy="category"
      defaultSortDirection="asc"
      [categoria]="categoriaCorrente() || getCategoriaRandom()"
      [showSorting]="false"
      [limit]="0"
      [data]="interventiPerInizio()"
    />
  </div>

  <div class="tile tile--4">
    <sheldon-chart-h-bars
      title="Numero interventi per comune"
      groupBy="comune"
      [filterBy]="null"
      [auxReduce]="[{campo:'comune', reduceBy:'count'} , {campo:'valore', reduceBy:'sum'}]"
      reduceBy="count"
      sortBy="value"
      defaultSortDirection="desc"
      [categoria]="categoriaCorrente() || getCategoriaRandom()"
      [showSorting]="true"
      [limit]="10"
      [data]="interventiPerComune()"
    />
  </div>

  <!-- KPIS -->
  <div class="tile tile--3">
    <sheldon-kpi
      title="Comuni con almeno un intervento"
      [minFontSize]="120"

      groupBy="comune"
      reduceBy="count"
      [data]="comuniConInterventi()"
      [limit]="0"
    />
  </div>

  <div class="tile tile--3">
    <sheldon-kpi
      title="Importo finanziato"
      [minFontSize]="45"
      filterBy="comune" masterField="comune"
      groupBy="valore"
      reduceBy="sum"
      udm="  €"
      [data]="interventiPerComune()"
      [limit]="0"
    />
  </div>

  <div class="tile tile--3">
    <sheldon-kpi
      title="Interventi programmati"
      filterBy="comune" masterField="comune"
      groupBy="comune"
      reduceBy="count"
      [data]="interventiPerComune()"
      [limit]="0"
    />
  </div>

  <!-- TABELLA -->
  <div class="tile tile--4">
    <sheldon-list
      title="Interventi programmati"
      filterBy="comune" masterField="comune"
      [data]="interventiPerComune()"
    />
  </div>

  <!-- STACKS -->
  <div class="tile tile--4">
    <sheldon-segmented-chart
      title="Interventi per fonte di finanziamento"
      filterBy="comune" masterField="comune"
      defaultSortDirection="asc"
      groupBy="valore"
      reduceBy="count"
      [categoria]="categoriaCorrente() || getCategoriaRandom()"
      [data]="interventiPerFonte()"
    />
  </div>

  <div class="tile tile--4">
    <sheldon-segmented-chart
      title="Interventi con coinvolgimento dei cittadini"
      defaultSortDirection="asc"
      groupBy="valore"
      reduceBy="count"
      [categoria]="categoriaCorrente() || getCategoriaRandom()"
      [data]="interventiPerPartecipazione()"
    />
  </div>

  <div class="tile tile--4">
    <sheldon-segmented-chart
      title="Stato di avanzamento degli interventi"
      defaultSortDirection="asc"
      filterBy="comune" masterField="comune"
      [auxReduce]="[{campo:'nome', reduceBy:'count'} , {campo:'valore', reduceBy:'sum'}]"
      groupBy="nome"
      reduceBy="count"
      [categoria]="categoriaCorrente() || getCategoriaRandom()"
      [data]="interventiPerStato()"
    />
  </div>

  <div class="tile tile--4">
    <sheldon-segmented-chart
      title="Distribuzione degli interventi per Unione"
      defaultSortDirection="asc"
      groupBy="valore"
      reduceBy="count"
      [categoria]="categoriaCorrente() || getCategoriaRandom()"
      [data]="interventiPerUnione()"
    />
  </div>

  <!-- TREE MAPS -->
  <div class="tile tile--4">
    <sheldon-chart-treemap
      title="Tipologia di intervento"
      filterBy="comune" masterField="comune"
      campo="valore"
      reduceBy="sum"
      [categoria]="categoriaCorrente() || getCategoriaRandom()"

      [data]="interventiPerTipologia()"
      [groups]="['tipologia']"
      [auxReduce]="[{ campo: 'progetti', reduceBy: 'count' }]"
    />
  </div>

  <div class="tile tile--4">
    <sheldon-chart-treemap
      title="Categorie principali degli interventi"
      campo="valore"
      reduceBy="sum"
      filterBy="comune" masterField="comune"
      [categoria]="categoriaCorrente() || getCategoriaRandom()"

      [data]="interventiPerCategoria()"
      [groups]="['categoria']"
      [auxReduce]="[{ campo: 'progetti', reduceBy: 'count' }]"
    />
  </div>

  <div class="tile tile--4">
    <sheldon-chart-treemap
      title="Destinatari principali degli interventi"
      campo="valore"
      reduceBy="sum"
      filterBy="comune"
      masterField="comune"
      [categoria]="categoriaCorrente() || getCategoriaRandom()"

      [data]="interventiPerTarget()"
      [groups]="['target']"
      [auxReduce]="[{ campo: 'progetti', reduceBy: 'count' }]"
    />
  </div>

  <div class="tile tile--4">
    <sheldon-chart-treemap
      title="Ambiti di azione principali degli interventi"
      campo="valore"
      reduceBy="sum"
      filterBy="comune" masterField="comune"
      [categoria]="categoriaCorrente() || getCategoriaRandom()"

      [data]="interventiPerTema()"
      [groups]="['tema']"
      [auxReduce]="[{ campo: 'progetti', reduceBy: 'count' }]"
    />
  </div>

  <div class="tile tile--8">
    <sheldon-mosaic-map
      [polygons]="comuniPolygons()"
      [auxReduce]="[{campo:'value', reduceBy:'sum'}]"
      municipalityKey="name"
    />
  </div>

</div>
