<sheldon-global-search [interventi]="interventi()" (filter)="applyFilters($event)"/>

<div class="grid">


  <!-- ISTOGRAMMI -->
  <sheldon-chart-bars
    #bar_end
    title="Interventi per anno di conclusione"
    groupBy="anno"
    reduceBy="count"
    filterBy="comune"
    sortBy="category"
    defaultSortDirection="asc"
    [showSorting]="false"
    [limit]="0"
    [data]="interventiPerFine()"
  ></sheldon-chart-bars>


  <sheldon-chart-bars
    #bar_start
    title="Interventi per anno di avvio"
    groupBy="anno"
    reduceBy="count"
    filterBy="comune"
    sortBy="category"
    defaultSortDirection="asc"
    [showSorting]="false"
    [limit]="0"
    [data]="interventiPerInizio()"
  ></sheldon-chart-bars>


  <sheldon-chart-h-bars
    #bar_comuni
    title="Numero interventi per comune"
    groupBy="comune"
    [filterBy]="null"
    [auxReduce]="[{campo:'comune', reduceBy:'count'} , {campo:'valore', reduceBy:'sum'}]"
    reduceBy="count"
    sortBy="value"
    defaultSortDirection="desc"
    [showSorting]="true"
    [limit]="10"
    [data]="interventiPerComune()"
  ></sheldon-chart-h-bars>
  <!-- KPIS -->

  <sheldon-kpi
    #kpi_comuni
    title="Comuni con almeno un intervento"
    groupBy="comune"
    reduceBy="count"
    [data]="comuniConInterventi()"
    [limit]="0"/>

  <sheldon-kpi
    #kpi_importo
    title="Importo finanziato"
    filterBy="comune"
    groupBy="valore"
    reduceBy="sum"
    udm="  €"
    [data]="interventiPerComune()"
    [limit]="0"/>
  <sheldon-kpi
    #kpi_interventi
    title="Interventi programmati"
    filterBy="comune"
    groupBy="comune"
    reduceBy="count"
    [data]="interventiPerComune()"
    [limit]="0"/>

  <!--  TABELLA -->
  <sheldon-list
    title="Interventi programmati"
    filterBy="comune"

    [data]="interventiPerComune()"></sheldon-list>

</div>
<!--  STACKS -->
<sheldon-segmented-chart
  title="Interventi per fonte di finanziamento"
  filterBy="comune"
  defaultSortDirection="asc"
  groupBy="valore"
  reduceBy="count"
  [data]="interventiPerFonte()"></sheldon-segmented-chart>

<sheldon-segmented-chart
  title="Interventi con coinvolgimento dei cittadini"
  defaultSortDirection="asc"
  groupBy="valore"
  reduceBy="count"
  [data]="interventiPerPartecipazione()"></sheldon-segmented-chart>

<sheldon-segmented-chart
  title="Stato di avanzamento degli interventi"
  defaultSortDirection="asc"
  filterBy="comune"
  [auxReduce]="[{campo:'nome', reduceBy:'count'} , {campo:'valore', reduceBy:'sum'}]"
  groupBy="nome"
  reduceBy="count"
  [data]="interventiPerStato()"></sheldon-segmented-chart>

<sheldon-segmented-chart
  title="Distribuzione degli interventi per Unione"
  defaultSortDirection="asc"
  groupBy="valore"
  reduceBy="count"
  [data]="interventiPerUnione()"></sheldon-segmented-chart>


<sheldon-chart-treemap
  [data]="interventiPerTipologia()"
  [groups]="['tipologia']"
  campo="valore"
  reduceBy="sum"
  [auxReduce]="[{ campo: 'progetti', reduceBy: 'count' }]"
  filterBy="unione|anno"
></sheldon-chart-treemap>

