@import '../../../../theme/variables';

// sheldon-header (48px) + mat-tab-nav bar (24px)
$nav-height: 72px;

:host {
  display: block;
  height: calc(100vh - $nav-height);
  background: white;

  sheldon-interventi-map {
    height: 100%;
  }
}
