@if (settings()[0]; as setting) {
  @if ($any(dataMap()[setting.data])) {
    <sheldon-interventi-map
      [title]="setting.title"
      [infoText]="setting.info ?? ''"
      [cardId]="setting.id"
      [data]="$any(dataMap()[setting.data])"
      [auxReduce]="$any(setting.auxReduce ?? [])"
      [municipalityKey]="setting.municipalityKey ?? 'name'"
      [tooltipProperties]="setting.tooltipProperties"
      [categoria]="categoriaCorrente() || getCategoriaRandom(0)"
      [interventi]="interventiFiltrati()"
    >
      <sheldon-global-search
        mapControls [interventi]="interventi()"
        (filter)="applyFilters($event)"/>
    </sheldon-interventi-map>
  }
}
