<!--<sheldon-global-search [projects]="projects()" (filter)="applyFilters($event)"/>-->

<mat-grid-list cols="2">
  <mat-grid-tile>
    <sheldon-chart-bars
      groupBy="comune"
      [title]="'dataStory.populationByComune' | transloco"
      filterBy="unione|anno"
      reduceBy="sum"
      [data]="popolazione()"
      [limit]="10"/>
  </mat-grid-tile>
  <mat-grid-tile>
    <sheldon-chart-h-bars
      groupBy="comune"
      [title]="'dataStory.populationByComuneStacked' | transloco"
      filterBy="unione|anno"
      masterField="unione"
      reduceBy="sum"
      [data]="popolazione()"
      [limit]="10"/>
  </mat-grid-tile>
  <mat-grid-tile>
    <sheldon-chart-line
      groupBy="anno"
      [title]="'dataStory.populationTrendByComune' | transloco"
      filterBy="unione|comune"
      masterField="unione"
      reduceBy="sum"
      [data]="popolazione()"
      [limit]="-1"/>
  </mat-grid-tile>
  <mat-grid-tile>
    <sheldon-kpi
      groupBy="comune"
      [title]="'dataStory.totalAreaPopulation' | transloco"
      filterBy="unione|comune|anno"
      masterField="unione"
      reduceBy="sum"
      [data]="popolazione()"
      [limit]="-1"/>
  </mat-grid-tile>


</mat-grid-list>






