@font-face {
  font-family: 'tasaDeck';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src:
    url('/fonts/TASAOrbiterDisplay-Bold.woff2') format('woff2'),
    url('/fonts/TASAOrbiterDisplay-Bold.woff') format('woff');
}
