body {
  * {
    border-radius: 0 !important;
    --mat-sys-surface-variant: transparent !important;
    --mat-sys-surface: #EFE9E9 !important;
  }
}

body.sheldon-theme-bw {
  .bar,
  .h-bar-container,
  .pop-segment,
  .treemap-tile {
    outline: 0.5px inset white;
    outline-offset: -1px;
  }

  .h-bar-container sheldon-chart-label {
    margin-left: 1.5px;
    margin-top: 1.5px;
  }

  .mat-mdc-icon-button svg {
    fill: white;
  }

  .map-tooltip {
    color: white;
  }
}

.mat-mdc-card-header-text {
  width: 100%
}

.maplibregl-ctrl-attrib {
  display: none !important;
}

.mat-mdc-icon-button svg {
  width: 13px !important;
  height: 13px !important;
  padding: 4px;
}


.sheldon-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
  padding: 16px;

  @supports (grid-auto-flow: masonry) {
    grid-auto-flow: masonry;
  }

  @media (max-width: 959px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 599px) {
    grid-template-columns: 1fr;
  }

  .tile {
    min-width: 0;
    display: flex;
    flex-direction: column;
    min-height: 256px;

    > * {
      flex: 1;
      //min-height: 0;
    }
  }

  @for $i from 1 through 12 {
    .tile--#{$i} {
      grid-column: span $i;

      @media (max-width: 959px) {
        grid-column: span 4;
      }

      @media (max-width: 599px) {
        grid-column: span 1;
      }
    }
  }


}
