html {
  --color-gradient-a-start: #fedace;
  --color-gradient-a-mid: #f00;
  --color-gradient-a-end: #0f0f;
  --color-gradient-b-start: #a0d;
  --color-gradient-b-mid: #ad0;
  --color-gradient-b-end: #cc1;
  --color-gradient-c-start: #1cc;
  --color-gradient-c-mid: #01c;
  --color-gradient-c-end: #9faafd;
  --color-gradient-d-start: gold;
  --color-gradient-d-end: cyan;
  --color-gradient-e-start: #4e4431;
  --color-gradient-e-end: black;
}
